body {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  box-sizing: border-box;
  background-color: #1d1d1d;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #b0b;
  text-decoration: none;
}

#query-user {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 400px;
  font-size: 1.75rem;
  background-color: #181818dc;
  padding: 10px 10px;
  gap: 1px;
  opacity: 1;
  color: aliceblue;
  transition: all 500ms ease-in-out;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 1.75rem;
  width: fit-content !important;
  background-color: #393939;
  border: none;
  border-radius: 10px;
  transition: all 250ms;
  color: aliceblue;
}
button:active {
  background-color: #232323;
}

.hide_by_opacity {
  opacity: 0 !important;
}
#structure {
  max-width: 850px;
  padding: 0px 5px;

  z-index: 0;
  width: 100%;
  position: sticky;
  top: 0px;
  margin: 0px;
}
#structure table {
  width: 100%;
  background-color: #240227;
}

#structure table td {
  padding: 5px 10px;
  cursor: grab;
  background-color: #232323;
}
#structure table td:hover {
  background-color: #343434;
}
.focus {
  background-color: #343434 !important;
}

.loadnicely {
  height: auto;
}
main {
  z-index: 999;
  max-width: 850px;
  padding: 0px 5px;
  box-sizing: border-box;
  width: 100%;
  margin: 3px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main p {
  background-color: #343434;
  margin: 0px 10px;
  width: 100%;
  text-align: center;
  margin-top: -3px;
}

.imggroup {
  position: relative;
  min-width: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(57, 57, 57);
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}
.imggroup * {
  width: 100%;
}
.imggroup.darktheme img {
  filter: invert() contrast(80%);
}

#testid {
  width: 100%;
}

#testid > * > span {
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.comfy-taking-room {
  margin: 0px;
  padding: 5px;
}

* {
  box-sizing: border-box;
}

.checkmark {
  display: none !important;
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 99;
  min-width: 1.8rem !important;
  max-width: 1.8rem !important;
  max-height: 1.8rem !important;
}

img {
  max-height: 10px;
  transition: max-height 0.5s cubic-bezier(1, 0.18, 1, 0.56);
  overflow: hidden;

  opacity: 1;
  min-width: 100%;
  width: 100%;
  text-align: center;
}
.mygrow {
  max-height: 500px;
  /* transition: max-height 0.25s ease-in; */
}

#teorie {
  max-width: 850px !important;
  min-width: unset !important;
  /* display: none; */
}
.hide {
  display: none;
}

#toggle-teorie {
  position: sticky;
  top: 0px;
  z-index: 99999999;
}

#teorie {
  overflow-y: auto;
  position: fixed;
  top: 5%;
  max-height: 90%;
  background-color: #1d1d1d;
  z-index: 999999;
  border: 1px solid #909;
}

#teorie * {
  background-color: #1d1d1d;
}
